# Dependencies
cryptography
p2pnetwork
customtkinter

# Standard Library (Gaperlu instalasi, sudah built-in dengan Python)
# - tkinter (GUI)
# - threading (Concurrency)
# - socket (Networking)
# - json (Data serialization)
# - uuid (Unique identifiers)
# - os (File operations)
# - base64 (Encoding)
# - datetime (Timestamps)

# Cara run
# install libarary -> pip install -r requirements.txt
# run main         -> py main.py 
# Input username dan port
# Hubungkan ke node peer lain menggunakan ip dan portnya
# P2P chat app sudah bisa digunakan untuk mengirim pesan teks, file dan membuat chat group peer